.idea
*.iml

out/
target/
.settings/
.project
.classpath
*.class
*#*
*~

wavemaker-portal/npm-debug.log
wavemaker-portal/src/main/webapp/node_modules
wavemaker-portal/src/main/webapp/dest
wavemaker-portal/src/main/webapp/app/components
wavemaker-portal/src/main/webapp/app/runtime/node_modules
wavemaker-portal/src/main/webapp/app/runtime/dest
wavemaker-portal/src/main/webapp/app/runtime/components
wavemaker-portal/src/main/webapp/app/runtime/tp
wavemaker-portal/src/main/webapp/docs
wavemaker-portal/src/main/webapp/app/wmdocs
wavemaker-portal/src/main/webapp/app/styles/compiled
wavemaker-portal/src/main/webapp/app/build
wavemaker-portal/src/main/webapp/app/design
wavemaker-portal/src/main/webapp/lib/wm/themes/*/*.css
wavemaker-portal/src/main/webapp/app/scripts/modules/plugins/database/styles/compiled


wavemaker-portal/src/main/webapp/WEB-INF/classes/
wavemaker-portal/src/main/webapp/WEB-INF/lib/

wavemaker-tools/src/main/webapp/
wavemaker-common/src/main/webapp/
wavemaker-json/src/main/webapp/
wavemaker-runtime/src/main/webapp/
wavemaker-prefab/src/main/webapp/
wavemaker-core/src/main/webapp/
wavemaker-platform/src/main/webapp/
wavemaker-soap2rest/src/main/webapp/
/src

buildNumber.properties
