.wm-app {
@app-mobile-nav-font-size: 14pt;
@app-mobile-nav-icon-size: 22pt;
@app-mobile-nav-height: 44pt;
@app-mobile-tabbar-height: 49pt;
@app-mobile-nav-button-padding: (@app-mobile-nav-height - @app-mobile-nav-font-size)/2;
/********************************************************************************
*************************************** Mobile Left Panel ***********************
*********************************************************************************/
.wm-mobile-app-left-panel{
  .mobile-left-panel(90%)
}
/********************************************************************************
*************************************** Mobile layouts *********************************
*********************************************************************************/
.app-page {
  .app-mobile-navbar {
    &+.app-content {
      .calc('height', ~"calc( 100% - @{app-mobile-nav-height} ) )") !important;
      margin: 0;
      min-height: 0!important;
      overflow: auto;
      display: block;
      .app-content-row {
        min-height: 0 !important;
      }
    }
  }
  &.has-tabbar {
    .app-mobile-navbar + .app-content {
      .calc('height', ~"calc( 100% -( @{app-mobile-nav-height} + @{app-mobile-tabbar-height} ) )") !important;
    }
  }
  &.has-tabbar-top .app-mobile-navbar + .app-content {
      margin-top: @app-mobile-tabbar-height;
  }
}
/********************************************************************************
*************************************** Tab Bar *********************************
*********************************************************************************/
.app-tabbar {
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  &.top {
    top: @app-mobile-nav-height;
  }
  &.bottom {
    bottom: 0;
    position: absolute;
  }
  .app-icon {
    font-size: @app-mobile-nav-icon-size;
  }
  >.navbar {
    border: none;
    border-radius: 0 !important;
  }
  .navbar {
    .navbar-nav {
      text-align: center;
      background-color: inherit;
      margin: 0;
      width: 100%;
      &.tab-items {
        display: table;
        height: 100%;
        > li {
          display: table-cell;
          float: none;
          vertical-align: middle;
          height: 100%;
        }
      }
      > li {
        > a {
          text-align: center;
          text-transform: uppercase;
          padding: 8pt 0;
          height: @app-mobile-tabbar-height;
          > label {
            display: block;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8em;
            margin: 0;
          }
        }
      }
      .dropdown {
        background-color: inherit;
        display: none;
        position: initial;
        .dropdown-menu {
          background-color: inherit;
          position: absolute !important;
          border-radius: 0;
          border: 0;
          left: 0;
          right: 0;
          &.navbar-nav {
            > li {
              float: left;
              width: 25%;
            }
          }
        }
      }
    }
  }
}

/********************************************************************************
**************************** Mobile Navbar ***********************
*********************************************************************************/
.app-mobile-navbar{
  position: relative;
  z-index: 1000;
  overflow: inherit;
  font-size: @app-mobile-nav-font-size;
  .navbar {
    background-color: inherit;
    height: @app-mobile-nav-height;
    border: 0;
    > div {
      padding: 0;
      height: 100%;
      background-color: inherit;
    }
    .navbar-header {
      .width-height();
      .navbar-brand {
        text-align: center;
        height: 100%;
        float: none;
        margin: 0;
        padding: @app-mobile-nav-button-padding 0;
        font-size: @app-mobile-nav-font-size;
      }
    }
    .navbar-nav {
      margin: auto;
      background-color: inherit;
      .app-menu, .app-popover {
        > a {
          line-height: @app-mobile-nav-height;
        }
      }
      .btn-back > * {
        vertical-align: middle;
      }
      &.navbar-left {
        white-space:nowrap;
      }
      &.navbar-right {
       text-align: right;
        > li {
          > button {
             margin: 1em 0;
          }
        }
        .dropdown {
          background-color: inherit;
        }
        .dropdown-menu {
          position: absolute;
          background-color: inherit;
        }
      }
      > li {
        display: inline-block;
        vertical-align: top;
        background-color: inherit;
        white-space: nowrap;
        .glyphicon, .fa {
          font-size: @app-mobile-nav-icon-size;
          vertical-align: middle;
        }
        > * {
          display: inline-block;
          line-height: @app-mobile-nav-height;
          padding: 0;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
}