<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Base application context definition for "springapp" DispatcherServlet.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/mvc
                http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <import resource="config.xml"/>
    <import resource="servicetypes.xml"/>

    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" conversion-service="applicationConversionService">
        <mvc:message-converters>
            <bean class="com.wavemaker.runtime.converters.WMCompositeHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.wavemaker.runtime.WMAppObjectMapper"/>
                </property>
            </bean>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean id="appDefaultPageableHandlerMethodArgumentResolver" class="com.wavemaker.runtime.resolver.ServiceBasedPageableHandlerMethodArgumentResolver" >
                <property name="pageParameterName" value="page"/>
                <property name="sizeParameterName" value="size"/>
                <property name="oneIndexedParameters" value="true"/>
                <property name="maxPageSize" value="1000"/>
                <property name="fallbackPageable">
                    <bean  class="org.springframework.data.domain.PageRequest">
                        <constructor-arg  value="0"/>
                        <constructor-arg  value="20"/>
                    </bean>
                </property>
            </bean>
        </mvc:argument-resolvers>
        <mvc:path-matching suffix-pattern="false" trailing-slash="false"/>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <bean id="annotationInterceptor" class="com.wavemaker.runtime.web.interceptor.WMAppRequestInterceptor" />
    </mvc:interceptors>

    <bean id="contentNegotiationManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false" />
    </bean>

    <bean class="com.wavemaker.runtime.spring.converters.ApplicationConversionServiceFactoryBean"
          id="applicationConversionService">
        <property name="converters">
            <list>
                <bean class="com.wavemaker.runtime.spring.converters.ApplicationConversionServiceFactoryBean$WMStringToDateConverter"/>
                <bean class="com.wavemaker.runtime.spring.converters.ApplicationConversionServiceFactoryBean$WMStringToSqlDateConverter"/>
                <bean class="com.wavemaker.runtime.spring.converters.ApplicationConversionServiceFactoryBean$WMStringToLocalDateTimeConverter"/>
            </list>
        </property>
    </bean>

    <!-- Set user.languague to english as Javascript ONLY handles US number formatting -->
    <bean id="systemPropertyInitializer" class="com.wavemaker.runtime.SystemPropertyInitiliazingBean">
        <property name="systemProperties">
            <map>
                <entry key="user.language" value="en"/>
                <entry key="com.mchange.v2.c3p0.management.ManagementCoordinator" value="com.mchange.v2.c3p0.management.NullManagementCoordinator"/>
            </map>
        </property>
    </bean>

    <bean id="wmRequestCleanupFilter" class="com.wavemaker.runtime.web.filter.WMRequestCleanupFilter"/>

    <bean id="cacheControlFilter" class="com.wavemaker.runtime.web.filter.CacheControlFilter"/>

    <bean id="languagePreferenceFilter" class="com.wavemaker.runtime.web.filter.LanguagePreferenceFilter"/>

    <bean id="handlerExceptionResolver" class="com.wavemaker.runtime.exception.resolver.ApplicationRestServiceExceptionResolver"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="300000000"/>
        <!-- Max size in bytes. -->
    </bean>

    <bean id="metadatacontroller" class="com.wavemaker.runtime.controller.AppRuntimeController"/>

    <bean id="runtimeQueryMetadataService" class="com.wavemaker.runtime.service.QueryDesignServiceImpl"/>

    <bean id="serviceDefinitionController" class="com.wavemaker.runtime.servicedef.controller.ServiceDefinitionController" />

    <bean id="serviceDefinitionService" class="com.wavemaker.runtime.servicedef.service.ServiceDefinitionService" />

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="basename" value="views"/>
    </bean>

    <bean class="com.wavemaker.runtime.file.manager.FileServiceManager" id="FileServiceManager"/>

    <bean id="reportServiceManager" class="com.wavemaker.runtime.report.manager.ReportServiceManagerImpl"/>
    <bean id="dbReport" name="dbReport" class="com.wavemaker.runtime.report.generator.DBJasperReportGenerator"/>

    <bean id="restServiceBeanPostProcessor" class="com.wavemaker.runtime.rest.handler.RestServiceBeanPostProcessor"/>

    <bean id="httpsConnection" class="com.wavemaker.studio.common.util.InitializeHttpsURLConnection" lazy-init="false"/>

    <bean id="appRuntimeSessionListener" class="com.wavemaker.runtime.web.AppRuntimeSessionListener"/>

</beans>
