<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Base application context definition for "springapp" DispatcherServlet.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop.xsd">
    <import resource="config.xml"/>
    <import resource="servicetypes.xml"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="300000000"/>
        <!-- Max size in bytes. -->
    </bean>

    <bean id="agJSONController"
          class="com.wavemaker.runtime.server.JSONRPCController">
        <!-- controller configuration -->
        <property name="supportedMethods" value="GET,POST"/>
    </bean>

    <bean id="metadatacontroller" class="com.wavemaker.runtime.controller.AppRuntimeController" > </bean>

    <bean id="runtimeAccess"
          class="com.wavemaker.runtime.RuntimeAccess" scope="request">
        <aop:scoped-proxy/>
    </bean>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="basename" value="views"/>
    </bean>

    <bean class="com.wavemaker.runtime.file.manager.FileServiceManager" id="FileServiceManager"/>

    <bean id="restServiceSimpleUrlHandlerMapping" class="com.wavemaker.runtime.rest.handler.RestServiceSimpleUrlHandlerMapping"/>
    <bean id="restServiceBeanPostProcessor" class="com.wavemaker.runtime.rest.handler.RestServiceBeanPostProcessor"/>

</beans>
