/********************************************************************************
*********************** Segmented Control classes ******************************
*********************************************************************************/
.app-segmented-control{
  position: relative;
  .app-segmented-control-container {
    position: relative;
    overflow-x: hidden;
    .app-segmented-control-content{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      &.left {
        left: -100%;
      }
      &.right {
        left: 100%;
      }
      &.active{
        left: 0;
      }
    }
  }
  &.animate {
    .app-segmented-control-content {
      transition: .6s ease-in-out left;
    }
  }
}