/********************************************************************************
*********************** Segmented Control classes ******************************
*********************************************************************************/
.app-segmented-control{
  position: relative;
  .width-height();
  > .btn-group.btn-group-justified {
    position: absolute;
    padding: 1em;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    .app-icon {
      width: auto;
    }
  }
  &.bottom {
    > .btn-group {
      bottom: 0;
    }
  }
  .app-segments-container {
    .width-height();
    overflow: hidden;
    position: relative;
    > ul {
      .width-height();
      white-space: nowrap;
      margin: 0;
      padding: 0;
      display: table;
      table-layout: fixed;
      > li.app-segment-content{
        white-space: normal;
        .width-height();
        padding-top: 50px;
        position: relative;
        vertical-align: top;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: content-box;
      }
    }
  }
}